
body {
  background-color: #121212;
  color: white;
  font-family: Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  padding: 2rem 0 1rem;
}

.logo {
    max-height: 200px;
    margin-bottom: 0.1rem;
  }

h1 {
  font-size: 2rem;
  letter-spacing: 2px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container {
  position: relative;
  margin: 2rem 0;
  display: inline-block;
}

.zoomable {
  width: 95vw;
  max-width: 1000px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255,255,255,0.05);
}

.lens {
  position: absolute;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: none;
  pointer-events: none;
  box-shadow: 0 0 30px rgba(255,255,255,0.4);
  z-index: 10;
}
